<h1>Entry Index Page</h1>

<% @entries.each do |e| %>
    <p><%= e.title %> - <%= e.id %> 
    <% if current_user == e.user %>
    <a href="/entries/<%= e.id %>/edit">Edit</a> 
    </p>
<% end %>
<% end %>