<h1>Login</h1>
<h3> Please fill in your login information.</h3>


<form action="/login" method="post">
   
    Email: <input type=email name="email" >
    Password: <input type=password name="password" >
    <input type=submit value="Login" >
</form>